* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: purple;
}

section {
  width: 80%;
  min-width: 320px;
  max-width: 500px;
  min-height: 500px;
  max-height: 1000px;
  margin: 0 auto;
  background-color: green;
}