* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.title {
  background-color: red;
  position: relative;
  width: 300px;
  margin-left: 130px;
  border-radius: 10px;
  height: 60px;
  top: 50px;
  border: 2px black;
}
.text {
  background-color: gray;
  border-radius: 40px;
  position: absolute;
  width: 400px;
  top: 80px;
  left: 80px;
  height: 300px;
  text-align: center;
  border: black;
  border: 2px black;
}
